@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

body {
    background-color: black;
    color: lightyellow;
    text-align: center;
}
ul {
    list-style: none;
}
a {
  color: rgb(255, 187, 0);
      text-shadow: 2px 2px 4px black;
      font-weight: bold;
      align-content: center;
}
a:hover {
  color:  lightgoldenrodyellow;
}
hr {
    border-bottom: 1px dashed pink;
    padding-top: 1px;
}
.holy-grail-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }
  li {
      color: lightgray;
      text-shadow: 2px 2px 4px black;
      font-weight: bold;
      align-content: center;
      display:inline;
  }
 
  .holy-grail-header {
      background-color: black;
      margin: 0 auto;
      padding-top: 25px;
}
.img01 {
    width: 50px;
    height: 60px;
}
.img02 {
    width: 120px;
    height: 150px;
    align-content: center;
    padding-bottom: 25px;
    padding-top: 15px;
}
#img04 {
  height:170px;
  width: 190;
  padding-bottom: 10px;
}
#img05 {
  height: 180px;
  width: 180px;
}
.drinkimg {
  height:180px;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
}
h3 {
  color: rgb(233, 169, 86);
  text-shadow: 2px 2px 4px black;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: left;
}
h6 {
    align-content: center;
    color: lightgray;
    text-shadow: 0 0 5px rgb(230, 195, 230), 0 0 10px #fff, 0 0 20px rgb(139, 7, 14), 0 0 30px #b69057, 0 0 40px rgb(110, 8, 15), 0 0 55px #a74e55, 0 0 75px #a013a5;
    font-family: Italianno;
    font-size: 30px;

}
h1 {
    font-size: 100px;
    font-family: 'futura';
    color: whitesmoke;
    text-shadow: 0 0 5px rgb(230, 195, 230), 0 0 10px #fff, 0 0 20px rgb(139, 7, 14), 0 0 30px #b69057, 0 0 40px rgb(110, 8, 15), 0 0 55px #a74e55, 0 0 75px #a013a5;
    text-align: left;
}
  .holy-grail-left,
  .holy-grail-middle {
      background-color:#800000;
      padding: 1rem;
      border: 1px solid #ca2121;
  }
  .holy-grail-right,
  .holy-grail-footer {
    padding: 1rem;
    border: none;
    background-color: black;
  }
  .myContent {
    align-content: center;
    background-color: black;
  }


  .holy-grail-header {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }

 @media screen and (max-width: 100em) {
    .holy-grail-grid {
      -ms-grid-rows: 2fr 1fr 5fr 1fr;
    }
  }

  @media screen and (max-width: 40em) {
    .holy-grail-left {
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-middle {
      -ms-grid-row: 3;
          grid-row-start: 3;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .holy-grail-footer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  
/* // Flip Code */
#coinFlip {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;
}

#coinFlip {
    position: relative;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    cursor: pointer;
  }
 #coinFlip div {
    width: 100%;
    height: 100%;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    -webkit-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
       -moz-box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
            box-shadow: inset 0 0 45px rgba(255,255,255,.3), 0 12px 20px -10px rgba(0,0,0,.4);
  }
  .head {
    background:blue ;
  }
  .tails {
    background: yellow;
  }
  
  #coinFlip {
    transition: -webkit-transform 1s ease-in;
    -webkit-transform-style: preserve-3d;
  }
  #coinFlip div {
    position: absolute;
    -webkit-backface-visibility: hidden;
  }
  .head {
    z-index: 100;
  }
  .tails {
    transform: rotateY(-180deg);
  
  }
  
  .head {
    -webkit-animation: flipHeads 3s ease-out forwards;
    -moz-animation: flipHeads 3s ease-out forwards;
      -o-animation: flipHeads 3s ease-out forwards;
         animation: flipHeads 3s ease-out forwards;
  }
  .tails {
    -webkit-animation: flipTails 3s ease-out forwards;
    -moz-animation: flipTails 3s ease-out forwards;
      -o-animation: flipTails 3s ease-out forwards;
         animation: flipTails 3s ease-out forwards;
  }
  
  @-webkit-keyframes flipHeads {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(360); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1800deg); -moz-transform: rotateY(1800deg); transform: rotateY(1800deg); }
  }
  @-webkit-keyframes flipTails {
    from { -webkit-transform: rotateY(0); -moz-transform: rotateY(360); transform: rotateY(0); }
    to { -webkit-transform: rotateY(1980deg); -moz-transform: rotateY(1980deg); transform: rotateY(1980deg); }
  } 