@import url('https://fonts.googleapis.com/css2?family=Italianno&display=swap');

body {
    background-color: black;
    color: lightyellow;
    text-align: center;
}
ul {
    list-style: none;
}
a {
  color: rgb(255, 187, 0);
      text-shadow: 2px 2px 4px black;
      font-weight: bold;
      align-content: center;
}
a:hover {
  color:  lightgoldenrodyellow;
}
hr {
    border-bottom: 1px dashed pink;
    padding-top: 1px;
}
.holy-grail-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }
  li {
      color: lightgray;
      text-shadow: 2px 2px 4px black;
      font-weight: bold;
      align-content: center;
      display:inline;
  }
 
  .holy-grail-header {
      background-color: black;
      margin: 0 auto;
      padding-top: 25px;
}
.img01 {
    width: 50px;
    height: 60px;
}
.img02 {
    width: 120px;
    height: 150px;
    align-content: center;
    padding-bottom: 25px;
    padding-top: 15px;
}
.img04 {
  height:170px;
  width: 190;
  padding-bottom: 10px;
}
#img05 {
  height: 180px;
  width: 180px;
}
.drinkimg {
  height:180px;
  width: 200px;
  padding-top: 15px;
  padding-bottom: 15px;
}
h3 {
  color: rgb(233, 169, 86);
  text-shadow: 2px 2px 4px black;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: left;
}
h6 {
    align-content: center;
    color: lightgray;
    text-shadow: 0 0 5px rgb(230, 195, 230), 0 0 10px #fff, 0 0 20px rgb(139, 7, 14), 0 0 30px #b69057, 0 0 40px rgb(110, 8, 15), 0 0 55px #a74e55, 0 0 75px #a013a5;
    font-family: Italianno;
    font-size: 30px;

}
h1 {
    font-size: 100px;
    font-family: 'futura';
    color: whitesmoke;
    text-shadow: 0 0 5px rgb(230, 195, 230), 0 0 10px #fff, 0 0 20px rgb(139, 7, 14), 0 0 30px #b69057, 0 0 40px rgb(110, 8, 15), 0 0 55px #a74e55, 0 0 75px #a013a5;
    text-align: left;
}
  .holy-grail-left,
  .holy-grail-middle {
      background-color:#800000;
      padding: 1rem;
      border: 1px solid #ca2121;
  }
  .holy-grail-right,
  .holy-grail-footer {
    padding: 1rem;
    border: none;
    background-color: black;
  }
  .myContent {
    align-content: center;
    background-color: black;
  }


  .holy-grail-header {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }

 @media screen and (max-width: 100em) {
    .holy-grail-grid {
      -ms-grid-rows: 2fr 1fr 5fr 1fr;
    }
  }

  @media screen and (max-width: 40em) {
    .holy-grail-left {
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-middle {
      -ms-grid-row: 3;
          grid-row-start: 3;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  .holy-grail-footer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  
