body {
    background-color: black;
    color: white;
}
ul {
    list-style: none;
}
hr {
    border-bottom: 1px dashed whitesmoke;
    padding-top: 1px;
}
.holy-grail-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    -ms-grid-rows: 1fr 8fr 1fr;
        grid-template-rows: 1fr 8fr 1fr;
    grid-gap: 20px;
    height: 100vh;
  }
  a {
      color: rgb(255, 187, 0);
      text-shadow: 2px 2px 4px black;
      font-weight: bold;
      align-content: center;
  }
 
  .holy-grail-header {
      background-color: black;

}

.img01 {
    width: 180px;
    height: 180px;
}
.img02 {
    width: 280px;
    height: 350px;
    align-content: center;
    padding-bottom: 25px;
    padding-top: 15px;
}
#img04 {
  height:50px;
  width: 100px;
}
h3 {
    color: #DA70D6;
    text-shadow: 2px 2px 4px purple;
    font-size: 30px;
    font-weight: bold;
    padding-bottom: 20px;
}
h6 {
    align-content: center;
}
.txt02 {
    color: #4169E1;
    font-size: 100px;
    text-shadow: 4px 4px 6px #800080;
}
.txt01 {
    color: #DA70D6;
    font-size: 100px;
    text-shadow: 2px 2px 4px #800080;
}
  .holy-grail-left,
  .holy-grail-middle {
      background-color: black;
      padding: 1rem;
      border: 1px solid #DDA0DD;
  }
  .holy-grail-right,
  .holy-grail-footer {
    padding: 1rem;
    border: none;
    background-color: black;
  }
  .myContent {
    align-content: center;
    background-color: black;
  }


  .holy-grail-header {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
    -ms-grid-row: 1;
        grid-row-start: 1;
  }

 @media screen and (max-width: 100em) {
    .holy-grail-grid {
      -ms-grid-rows: 2fr 1fr 5fr 1fr;
    }
  }

  @media screen and (max-width: 40em) {
    .holy-grail-left {
      -ms-grid-row: 2;
          grid-row-start: 2;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  @media screen and (max-width: 60em) {
    .holy-grail-middle {
      -ms-grid-row: 3;
          grid-row-start: 3;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  }
  
  /* @media screen and (max-width: 60em) {
    .right-nav {
      -ms-grid-row: 4;
          grid-row-start: 4;
      -ms-grid-column: 1;
          grid-column-start: 1;
      grid-column-end: 4;
    }
  } */
  
  .holy-grail-footer {
    -ms-grid-column: 1;
        grid-column-start: 1;
    grid-column-end: 4;
  }
  

  NEON LOGO  
  $color1: magenta;
$color2: purple;

.text-effect {
  overflow: hidden;
  position: relative;
  
  // The blend modes mute the colors, so let's bump them up
  filter: contrast(110%) brightness(190%);
}

.neon {
  position: relative;
  
  // Only works on a black background, sorry
  background: black;
  
  // The actual text inside the div is superfluous, only data-text matters. The text is added so you can easily edit the preview
  color: transparent;
  
  &::before,
  &::after {
    // Add two copies of the text on their own layer
    content: attr(data-text);
    
    // White, so we can paint them later
    color: white;
    
    // And blur them to create the neon effect with the blend-mode below
    filter: blur(0.02em);
    
    position: absolute;
    top: 0; left: 0;
    pointer-events: none;
  }
  
  // Set the top copy to difference. This creates the knock-out effect with a bit of glow
  &::after {
    mix-blend-mode: difference;
  }
}

// Position our two effect layers
.gradient,
.spotlight {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  pointer-events: none;
  z-index: 10;  
}

// Add the colors
.gradient {
  background: linear-gradient(45deg, $color1, $color2);
  
  // Multiply mode will paint only the white text
  mix-blend-mode: multiply;
}

.spotlight {
  animation: light 5s infinite linear;
  
  // These are the lights, color-dodge needs a black bg for optimum effect
  background: 
    radial-gradient(circle, white, transparent 25%) 0 0 / 25% 25%, 
    radial-gradient(circle, white, black 25%) 50% 50% / 12.5% 12.5%;
  top: -100%; left: -100%;
  
  // Color dodge gives the lights that shimmer effect
  mix-blend-mode: color-dodge;
}

@keyframes light {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

//=== Pen styling, ignore

// Style text
.neon {
  font: 700 220px 'Lato', sans-serif;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  
  &:focus { outline: none; border: 1px dotted white; }
}

// Center everything
body {
  background: black;
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-content: center;
  align-items: center;
}